@model List<Lab.MVC.Models.ShippersView>
    @{
        ViewBag.Title = "Shippers Page";
    }
    <h1>Hola soy el Index de Shippers</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre de la compañía</th>
                <th scope="col">Teléfono</th>
                <th scope="col" class="text-center">Eliminar</th>
                <th scope="col" class="text-center">Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipper in Model)
            {
                <tr>
                    <th scope="row">@shipper.Id</th>
                    <td>@shipper.CompanyName</td>
                    <td>@shipper.Phone</td>
                    <td class="text-center">@Html.ActionLink(" ", "Delete", new { id = shipper.Id }, new { @class = "fa-regular fa-trash-can btn btn-danger", @onclick = "return confirm('¿Estás seguro de que deseas eliminar este elemento?');" })</td>
                    <td class="text-center">@Html.ActionLink(" ", "Update", new { id = shipper.Id }, new { @class = "fa-solid fa-pen-to-square btn btn-warning" })</td>
                    <td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @Html.ActionLink("Insertar Nuevo proveedor", "Insert", null, new { @class = "btn btn-primary btn-lg" })
    </div>